[submodule "examples/common/vendor/glfw"]
	path = examples/common/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "examples/common/vendor/glad"]
	path = examples/common/vendor/glad
	url = https://github.com/Dav1dde/glad.git
